.header {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px !important;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px !important;
}

.reveal .slide ul
{
    list-style-type: none;
}
