---
title: The Manifesto for Responsible Software Development - JSUnConf2016
layout: slide_light
---

%section{"data-markdown" => ""}
  \#### Hamburg@work | TechBreakfast
  %br
  \## Verantwortungsvolle Softwareentwicklung
  %br
  \##### 07.06.2017 | Nils Löwe | Lionizers UG (haftungsbeschränkt)

%section{"data-markdown" => ""}
  \## Software is eating the world
  %br
  \#### Marc Andreesen (2011)

%section
  <img src="/images/defender.jpg" width="85%" />
  %br
  Quelle: landrover.com

%section
  <img src="/images/tesla.jpg" width="85%" />
  %br
  Quelle: tesla.com

%section
  <img src="/images/key.jpg" width="85%" />
  %br
  Quelle: davidhellmann.com

%section
  <img src="/images/volvo.jpg" width="85%" />
  %br
  Quelle: volvo.com

%section
  <img src="/images/w38.jpg" width="65%" />
  %br
  Quelle: telephonecollecting.org

%section
  <img src="/images/iphone.jpg" width="65%" />
  %br
  Quelle: apple.com

%section
  <img src="/images/taxi.png" width="65%" />
  %br
  Quelle: en.wikipedia.org

%section
  <img src="/images/uber.png" width="65%" />
  %br
  Quelle: uber.com

%section
  <img src="/images/nyse.jpg" width="65%" />
  %br
  Quelle: New York Stock Exchange

%section
  <img src="/images/hft.jpg" width="65%" />
  %br
  Quelle: Wall Street Journal

%section
  <img src="/images/pillendose.jpg" width="65%" />
  %br
  Quelle: Pinterest

%section
  <img src="/images/pill.jpg" width="65%" />
  %br
  Quelle: glowcaps.com

%section
  <img src="/images/moore.jpeg" width="65%" />
  %br
  Quelle: medium.com

%section
  <img src="/images/moore2.png" width="65%" />
  %br
  Quelle: go-rbcs.com


%section{"data-markdown" => ""}
  \## Na und?

%section{"data-markdown" => ""}
  \### Ebay Hacked

  145.000.000 aktive Nutzer betroffen

%section{"data-markdown" => ""}
  \### Sony Hacked

  75.000.000 Nutzer betroffen (incl. Payment data)

%section{"data-markdown" => ""}
  \### "Energetic Bear", "Stuxnet", ...

  Fernsteuerung, Sabotage von Kraftwerken

%section{"data-markdown" => ""}
  \### Ransomware, Locky, ...

  Erpressung via Email

%section{"data-markdown" => ""}
  \### Heartbleed

  Sicherheitslücke in OpenSSL betrifft 500,000 Webseiten

%section{"data-markdown" => ""}
  \### (VW, ...) Abgasskandal

  Steuergeräte erkennen Abgasprüfstände

%section{"data-markdown" => ""}
  \### Ebay Hacked (again)

  "Fun project" ermöglicht XSS Angriffe: http://www.jsfuck.com/

%section{"data-markdown" => ""}
  \### Toyota Brems-Skandal

  Durch einen Softwarefehler beschleunigt das Auto unkontrolliert. Mehrere Menschen sterben. Toyota zahlt 1,2 Mrd. Dollar Strafe in den USA.

%section{"data-markdown" => ""}
  \## Ja, und?

%section{"data-markdown" => ""}
  \### Wir alle machen diese Dinge möglich!

%section{"data-markdown" => ""}
  \### Eid des Hippokrates: 500 BC
  \### The Obligation of the Engineer: 1922
  \### Software?

%section{"data-markdown" => ""}
  \### 2015
  \## The Manifesto for Responsible Software Development
  %br
  http://manifesto.responsiblesoftware.org/

%section{"data-markdown" => ""}
  \### I am ethically responsible for my decisions and I will act according to my conscience.
  \#### *The impact of software is growing continuously in all areas of our lives. I acknowledge the consequences to humanity and the environment that evolve from our work.*

%section{"data-markdown" => ""}
  \### I will not develop software that is intended to violate human rights and civil liberties.
  \#### *It is increasingly possible to violate personal and human rights with the use of software as the boundaries between real and digital world become blurred.*
  \#### *I know that I can't control software once it is released so I have a responsibility to consider the potential for my software to violate people’s right before I start to implement it. I will reject projects which facilitate this abuse.*

%section{"data-markdown" => ""}
  \### I will be worthy of the faith in me as an expert of my profession.
  \#### *The possible negative consequences of the improper use of complex software are inconceivable to most users. Therefore it is our responsibility as software developers to communicate the boundaries of proper use clearly.*
  \#### *When I realize that a software that I released is not applicable anymore, my minimum responsibility is to let potential and existing users know.*

%section{"data-markdown" => ""}
  \### I will collect only the data that is essential for my task. I will store it only as long as needed.
  \#### *My applications are likely to collect personal information. I will safeguard this, and use it only as the provider of the information intended. I will treat their data as if it were my own.*

%section{"data-markdown" => ""}
  \### I will do my very best to prevent the waste of energy and resources.
  \#### *The increasing number of devices that contain software has a strong impact on the global use of resources and energy.*

%section{"data-markdown" => ""}
  \### *I make these promises solemnly, freely and upon my honor.*

%section{"data-markdown" => ""}
  \## Aber was soll ich denn machen?

%section{"data-markdown" => ""}
  \## Beispiel: Differential Privacy

%section{"data-markdown" => ""}
  \## Grundlagen bei der Datenmodellierung beachten

%section{"data-markdown" => ""}
  \## Tools nutzen, um Sicherheitslücken zu erkennen

%section{"data-markdown" => ""}
  \## "Haben ist besser als brauchen..."
  %br
  Welche Daten muss ich wirklich sammeln? Daten wecken Begehrlichkeiten...

%section
  %h3 Vielen Dank für die Aufmerksamkeit
  <img src="/images/lionizers.png" border: "0" width="65%" />
  %br
  %h4 Msc. Dipl. Ing. Nils Löwe
