---
title: Nachhaltige Softwareentwicklung - Wie geht das?
layout: slide_lion
---

%section{"data-markdown" => ""}
  \##### TWENTY2X PowerWeek | Digitalisierung und Nachhaltigkeit
  %br
  \### Nachhaltige Softwareentwicklung:
  %br
  \## Wie geht das?
  %br
  \##### 18.03.2021 | Nils Löwe | Lionizers GmbH

%section{"data-markdown" => ""}
  \## Digitalisierung & Nachhaltigkeit
  %br
  \#### Zwei große Wörter

%section{"data-markdown" => ""}
  \## Was ist Digitalisierung?

%section
  <img src="/images/e025-maerkte-stehen-kopf-quer-wege-der-digitalisierung-lionizers.jpg" width="85%" />
  %br
  <small>Quelle: softwareforfuture.de</small>

%section
  <img src="/images/e022-technologiespruenge-quer-wege-der-digitalisierung-lionizers.jpg" width="85%" />
  %br
  <small>Quelle: softwareforfuture.de</small>

%section
  <img src="/images/e010-weichen-datenschutz-quer-wege-der-digitalisierung-lionizers.jpg" width="85%" />
  %br
  <small>Quelle: softwareforfuture.de</small>

%section
  <img src="/images/e019-normung-quer-wege-der-digitalisierung-lionizers.jpg" width="85%" />
  %br
  <small>Quelle: softwareforfuture.de</small>

%section{"data-markdown" => ""}
  \## Was ist Nachhaltigkeit?

%section
  <img src="/images/e039-nachhaltig-handeln-facebook-wege-der-digitalisierung-lionizers.jpg" width="85%" />
  %br
  <small>Quelle: softwareforfuture.de</small>

%section{"data-markdown" => ""}
  \## Wie hängt das zusammen?

%section{"data-markdown" => ""}
  \## Ganz einfach?

%section{"data-markdown" => ""}
  \### Digitale "Dinge" verbrauchen Strom.
  \##### (Grau-) Strom bedeutet CO2
  Deutscher Strom-Mix 2019: Hochgerechnete Werte für die CO2-Emissionen pro Kilowattstunde Strom 2019 ergeben 401 Gramm pro Kilowattstunde

%section{"data-markdown" => ""}
  \### Digitale Dinge verbrauchen physisches Material
  \#### z.B. seltene Erden

%section{"data-markdown" => ""}
  \## Weniger einfach?

  Rebound Effekte, ...


%section{"data-markdown" => ""}
  \### Eine Einordnung des Problems

%section{"data-markdown" => ""}
  \### Wieviel Strom verbraucht das Internet?

  Wäre das Internet ein Land, dann hätte es den sechstgrößten Energieverbrauch der Welt.
  %br
  \###### Quelle: check24.de

%section{"data-markdown" => ""}
  2020 wurden 13 Terawattstunden Strom für den Betrieb der deutschen Rechenzentren aufgewendet.
  %br
  Das entspricht dem Stromverbrauch von Berlin.
  %br
  \###### Quelle: check24.de

%section{"data-markdown" => ""}
  \### Wieviel Strom verbraucht Bitcoin?

  Die Abwicklung einer einzelnen Bitcoin-Transaktion braucht so viel Energie, wie 17 US-Haushalte an einem Tag.
  %br
  Insgesamt wird geschätzt, dass 1,4 Promill des weltweiten Elektrizitätskonsums (2020) auf das Netzwerk entfallen.
  %br
  \###### Quelle: Bitcoin Energy Consumption Index

%section{"data-markdown" => ""}
  \### Wieviel Strom verbraucht eine E-Mail?

  Eine E-Mail verursacht 10g CO2, ein Brief 20g. Wir verschicken aber mehr E-Mails als Briefe...
  %br
  \###### Quelle: wastelandrebel.com

%section{"data-markdown" => ""}
  \### Wieviel Strom Email-Spam?

  Laut einer Studie von McAfee verursachen Spam-Emails in Deutschland der Wert von 500.000 Tonnen CO2 pro Jahr. Das ist so viel wie eine kleinere Großstadt.
  %br
  \###### Quelle: McAfee

%section{"data-markdown" => ""}
  \### Ein paar Beispiele für “gute” Digitalisierung
  \##### Daten erheben, um dann handeln zu können

%section
  <img src="/images/breeze.png" width="55%" />
  %br
  <small>Quelle: Breeze Technologies</small>

  %h4 Bislang gab es vier Luftmesspunkte im Hamburger Straßenverkehr - dort ist jetzt Diesel-Fahrverbot. Sinnvoll?

%section
  <img src="/images/Vilisto.jpg" width="85%" />
  %br
  <small>Quelle: Vilisto GmbH</small>

  %h4 Smarte Thermostate reduzieren Verbrauch in öffentlichen Gebäuden um 30%

%section{"data-markdown" => ""}
  \## Aus dem Corona-Alltag
  \### Videotelefonate statt Flugreisen

%section{"data-markdown" => ""}
  \## Predictive Maintenance
  \### Wartung genau im richtigen Moment.

%section{"data-markdown" => ""}
  \## Was können Sie tun?

  \### 1. Die Grundlagen
  \### 2. Effiziente Technologien einsetzen

%section{"data-markdown" => ""}
  \##### Grundlagen
  \### Ökostrom nutzen!
  \#### Büro? Zu Hause? Produktion?
  \#### Wie werden Ihre Server betrieben?
  \#### Was nutzen Ihre Cloud-Anbieter?

%section{"data-markdown" => ""}
  \##### Grundlagen
  \### Digitale Hygiene
  \#### E-Mails
  \#### Fotos
  \#### ...

%section{"data-markdown" => ""}
  \##### Effiziente Technologien einsetzen
  \### Den richtigen Hebel suchen
  \#### Optimierung kostet Zeit (= Geld)
  \#### Wo lohnt Optimierung?

%section
  %h5 Effiziente Technologien einsetzen
  <img src="/images/server.png" width="75%" />
  %br
  <small>Quelle: PerformanceBenchmark.net</small>

%section
  %h5 Technologien effizient nutzen
  <img src="/images/ruby.jpg" width="45%" />
  %br
  <small>Quelle: pragprog.com</small>

%section
  %h5 Auf die Details achten. Beispiel "Paginierung":
  <img src="/images/pagy.png" width="85%" />
  %br
  <small>Quelle: imaginarycloud.com</small>

%section
  %h3 Zu Risiken und Nebenwirkungen fragen Sie

  %ul
    %li Ihre SoftwareentwicklerInnen
    %li Ihre Entwicklungs-Partner


%section
  %h6 Vielen Dank für die Aufmerksamkeit
  <img src="/images/lionizers-logo-splash-orange.svg" border: "0" width="45%" />
  %br
  %h3 Nils Löwe
  %h5 nils@lionizers.com / 040 32 50 84 23 / softwareforfuture.de
