%header.header.push-down-45
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#readable-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %nav.navbar.navbar-default{:role => "navigation"}
      #readable-navbar-collapse.collapse.navbar-collapse
        %ul.navigation
          %li{:class => ("active" if current_page.path == 'index.html')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "https://nils-loewe.de/index.html"} Nils Löwe
          %li{:class => ("active" if current_page.path == 'blog.html')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "https://nils-loewe.de/blog"} Blog
          %li{:class => ("active" if current_page.path == 'profil.html')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "https://lionizers.com"} Lionizers
          %li{:class => ("active" if current_page.path == 'angebot.html')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "https://manifesto.responsiblesoftware.org/"} Manifesto for Responsible Software Development
