---
title: Lightning Talk - Bath Ruby Conference 2016
layout: slide
---

%section{"data-markdown" => ""}
  \## The Manifesto for Responsible Software Development
  %br
  \### How to be a #ResponsibleCoder
  %br
  http://manifesto.responsiblesoftware.org/

%section{"data-markdown" => ""}
  \### I am ethically responsible for my decisions and I will act according to my conscience.
%section{"data-markdown" => ""}
  \### I will not develop software that is intended to violate human rights and civil liberties.
%section{"data-markdown" => ""}
  \### I will be worthy of the faith in me as an expert of my profession.
%section{"data-markdown" => ""}
  \### I will collect only the data that is essential for my task. I will store it only as long as needed.
%section{"data-markdown" => ""}
  \### I will do my very best to prevent the waste of energy and resources.
%section{"data-markdown" => ""}
  \### I make these promises solemnly, freely and upon my honor.

%section{"data-markdown" => ""}
  \### Thank you!


%section{"data-markdown" => ""}
  \### Thank you!

  https://nils-loewe.de
  %br
  @NilsLoewe
