---
title: Slides / Nils Löwe
---
%h1 Slides

%table.table.table-striped
  %caption Slides
  %thead
    %tr
      %th Date
      %th Slides
      %th pdf
  %tbody
    %tr
      %td 11.03.16
      %td=link_to 'Lightning Talk @ Ruby Bath Conference', 'BathRubyConf2016.html'
      %td n/a
