---
title: Slides / Nils Löwe
---
%h2 Slides

%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Slides
  %tbody
    %tr
      %td 23.04.16
      %td=link_to '"The Manifesto for Responsible Software Development": Talk @ JSUnConf Hamburg', 'JSUnConf2016.html'
    %tr
      %td 15.03.16
      %td=link_to '"Introduction to Swagger" @ Web API Meetup, Hamburg', 'SwaggerAPIMeetup.html'
    %tr
      %td 11.03.16
      %td=link_to '"The Manifesto for Responsible Software Development": Lightning Talk @ Bath Ruby Conference', 'BathRubyConf2016.html'
