---
title: Lightning Talk - Bath Ruby Conference 2016
layout: slide
---

%section{"data-markdown" => ""}
  \## The Manifesto for Responsible Software Development
  %br
  \### How to be a #ResponsibleCoder
  %br
  http://manifesto.responsiblesoftware.org/

%section{"data-markdown" => ""}
  \## Are we taking the world into the right direction?

%section{"data-markdown" => ""}
  \### Ebay Hacked 2014
  The e-commerce site has 128 million active users

%section{"data-markdown" => ""}
  \### Heartbleed

  Heartbleed is a security vulnerability in OpenSSL software that lets a hacker access the memory of data servers. According to Netcraft, an Internet research firm, 500,000 Web sites could be affected. That means a user's sensitive personal data -- including usernames, passwords, and credit card information -- is potentially at risk of being intercepted.
  The vulnerability also means an attacker could steal a server's digital keys that are used to encrypt communications and get access to a company's secret internal documents.

%section{"data-markdown" => ""}
  \### Hippocratic Oath: 500 BC
  \### The Obligation of the Engineer: 1922
  \### Software?

%section{"data-markdown" => ""}
  \### 2015
  \## The Manifesto for Responsible Software Development

%section{"data-markdown" => ""}
  \### I am ethically responsible for my decisions and I will act according to my conscience.
%section{"data-markdown" => ""}
  \### I will not develop software that is intended to violate human rights and civil liberties.
%section{"data-markdown" => ""}
  \### I will be worthy of the faith in me as an expert of my profession.
%section{"data-markdown" => ""}
  \### I will collect only the data that is essential for my task. I will store it only as long as needed.
%section{"data-markdown" => ""}
  \### I will do my very best to prevent the waste of energy and resources.
%section{"data-markdown" => ""}
  \### I make these promises solemnly, freely and upon my honor.

%section{"data-markdown" => ""}
  \## Do you want to be a
  \## #ResponsibleCoder?
  %br
  \#### Join us at http://manifesto.responsiblesoftware.org/


%section{"data-markdown" => ""}
  \### Thank you!

  @NilsLoewe
  %br
  \#### http://manifesto.responsiblesoftware.org/
