---
title: The Manifesto for Responsible Software Development - JSUnConf 2016
layout: slide
---

%section{"data-markdown" => ""}
  \#### The Manifesto for Responsible Software Development
  %br
  \### How to be a #ResponsibleCoder
  %br
  http://manifesto.responsiblesoftware.org/

%section{"data-markdown" => ""}
  \## Software shapes and changes our world

%section{"data-markdown" => ""}
  ![](/images/defender.jpg)
  %br
  *(Source: landrover.com)*

%section{"data-markdown" => ""}
  ![](/images/key.jpg)
  %br
  *(Source: http://davidhellmann.com)*

%section{"data-markdown" => ""}
  ![](/images/w38.jpg)
  %br
  *(Source: http://www.telephonecollecting.org)*

%section{"data-markdown" => ""}
  \## Ok, but what's the problem?

%section{"data-markdown" => ""}
  \### Ebay Hacked

  128.000.000 active users affected

%section{"data-markdown" => ""}
  \### Sony Hacked

  75.000.000 users affected (incl. payment data)

%section{"data-markdown" => ""}
  \### "Energetic Bear", "Stuxnet", ...

  Remote controlling utility companies...

%section{"data-markdown" => ""}
  \### Ransomware, Locky, ...

  Blackmailing hospitals, city councils, ...

%section{"data-markdown" => ""}
  \### Heartbleed

  Security vulnerability in OpenSSL affects 500,000 Web sites

%section{"data-markdown" => ""}
  \### VW emission scandal

  Modified motor software detects test systems and reduces power (emssions)

%section{"data-markdown" => ""}
  \## Ok, but why do you tell me?

%section{"data-markdown" => ""}
  \### We make these things possible!

%section{"data-markdown" => ""}
  \### Hippocratic Oath: 500 BC
  \### The Obligation of the Engineer: 1922
  \### Software?

%section{"data-markdown" => ""}
  \### 2015
  \## The Manifesto for Responsible Software Development

%section{"data-markdown" => ""}
  \### I am ethically responsible for my decisions and I will act according to my conscience.
%section{"data-markdown" => ""}
  \### I will not develop software that is intended to violate human rights and civil liberties.
%section{"data-markdown" => ""}
  \### I will be worthy of the faith in me as an expert of my profession.
%section{"data-markdown" => ""}
  \### I will collect only the data that is essential for my task. I will store it only as long as needed.
%section{"data-markdown" => ""}
  \### I will do my very best to prevent the waste of energy and resources.
%section{"data-markdown" => ""}
  \### I make these promises solemnly, freely and upon my honor.

%section{"data-markdown" => ""}
  \## Are you a
  \## #ResponsibleCoder?
  %br
  \#### Sign the Manifesto at http://manifesto.responsiblesoftware.org/

%section{"data-markdown" => ""}
  \### Do you want to help?
  %br
  \#### Spread the word!
  \#### http://manifesto.responsiblesoftware.org/

%section{"data-markdown" => ""}
  \### Thank you!

  @NilsLoewe
  %br
  \#### http://manifesto.responsiblesoftware.org/
