---
title: Roadmapping Session @phantominds
layout: slide
---

%section{"data-markdown" => ""}
  \## Phantominds Roadmapping Session
  %br
  \#### 15.04.16 / Phantominds UG
  %br
  [@NilsLoewe](https://twitter.com/NilsLoewe)

%section{"data-markdown" => ""}
  \### Ziele des Workshops

  * Aufnahme: IST-Stand der Plattform
  * Definition: Ziele für die Plattform
  * Überblick: Agile Vorgehensweisen
  * Mögliche Projektvarianten

%section{"data-markdown" => ""}
  \### Glossar

  * Challenge
  * Idea
  * Comment
  * Rating: Wird nur in der Evaluationsphase vergeben
  * Like: Wird nur in der Brainstormingphase vergeben
  * User Score: Berechnet aus der Anzahl Ideas, Comments, Likes, Ratings (jeweils abgegeben und bekommen)
  * Average Score: Durchschnittliche Bewertung einer Idee über alle User

%section{"data-markdown" => ""}

  \### IST-Stand der Plattform

  \#### Statische Seiten
  \#### User Funktionen
  \#### Challenge Funktionen
  \#### Link-Tracking

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Statische Seiten

  Die Seiten sind bisher als Export aus einem lokal installierten wordpress hard-coded als HTML hinterlegt.

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### User Funktionen

  * Registrieren per E-Mail / Facebook
  * Login/Logout
  * Dashboard ansehen: User Score etc.
  * Meine Profilbesucher sehen
  * Public Profile (Punkte, teilgenommene Challenges)

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### User Funktionen (Backend)

  * Liste der User
  * User editieren (Name, Email, ...)
  * Rollen zuweisen

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Challenge Funktionen

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Link-Tracking

%section{"data-markdown" => ""}

  \### ZIEL-Stand der Plattform

  \#### CMS
  \#### User Funktionen
  \#### Challenge Funktionen
  \#### Link-Tracking
  \#### Whitelabel Funktionen

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### CMS

  _Die Content-Seiten der Plattform lassen sich live über ein einfaches Content Management System bearbeiten:_

  * Seite erstellen
  * Seite ändern: Text, Bilder, Karten, Videos, Icons
  * Seite löschen
  * Bearbeitung der Navigations- / Menüstruktur
  * Kontaktformulare
  * Konfigurierbares Design/Layout für die Startseite

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### User Funktionen

  * Registrieren per E-Mail / Facebook / Twitter / Google+
  * Login/Logout
  * Dashboard ansehen: User Score etc.
  * Meine Profilbesucher sehen
  * Public Profile (Punkte, teilgenommene Challenges, gewonnene Challenges, Ideen, Kommentare)
  * Ambassador User: Kann Ideen und Kommentare direkt auf der Plattform verwalten
  * Client User: Kann im Backend für Challenges freigeschaltet werden

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### User Funktionen (Backend)

  * Liste der User: Sortieren / Filtern nach Rang, Score, Ideen, ...
  * User editieren (Name, Email, ...)
  * User löschen
  * Rollen zuweisen

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### User Funktionen (Ideen für später)

  * Rechtesystem: Rollen definieren und aus einzelnen Rechten zusammensetzen
  * Rechte einzeln verteilen, alternativ Rollen als Shortcut zuweisen
  * User-Umfragen: Mehr Daten sammeln (Interessen etc.) um in Challenges User gezielt anzusprechen


%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### User Funktionen (Backend)

  * Liste der User
  * User editieren (Name, Email, ...)
  * User löschen
  * Rollen zuweisen

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### Challenge Funktionen

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### Link-Tracking

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### Whitelabel Funktionen


%section{"data-markdown" => ""}

  ![](/images/phantominds/plattform.jpg)

%section
  %h5 Ist-Stand der Plattform
  %h4 User-Funktionen
  %pre
    %code
      :preserve
        swagger: "2.0"
        info:
