---
title: Roadmapping Session @phantominds
layout: slide
---

%section{"data-markdown" => ""}
  \## Phantominds Roadmapping Session
  %br
  \#### 15.04.16 / Phantominds UG
  %br
  [@NilsLoewe](https://twitter.com/NilsLoewe)

%section{"data-markdown" => ""}
  \### Ziele des Workshops

  * Aufnahme: IST-Stand der Plattform
  * Definition: Ziele für die Plattform
  * Überblick: Agile Vorgehensweisen
  * Mögliche Projektvarianten

%section{"data-markdown" => ""}
  \### Glossar

  * Challenge
  * Idea
  * Comment
  * Rating: Wird nur in der Evaluationsphase vergeben
  * Like: Wird nur in der Brainstormingphase vergeben
  * User Score: Berechnet aus der Anzahl Ideas, Comments, Likes, Ratings (jeweils abgegeben und bekommen)
  * Average Score: Durchschnittliche Bewertung einer Idee über alle User

%section{"data-markdown" => ""}

  \### IST-Stand der Plattform

  \#### Statische Seiten
  \#### User Funktionen
  \#### Challenge Funktionen
  \#### Link-Tracking

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Statische Seiten

  Die Seiten sind bisher als Export aus einem lokal installierten wordpress hard-coded als HTML hinterlegt.

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### User Funktionen

  * Registrieren per E-Mail / Facebook
  * Login/Logout
  * Dashboard ansehen: User Score etc.
  * Meine Profilbesucher sehen
  * Public Profile (Punkte, teilgenommene Challenges)

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### User Funktionen (Backend)

  * Liste der User
  * User editieren (Name, Email, ...)
  * Rollen zuweisen

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Challenge Funktionen

  * Übersicht der Challenges anschauen
  * Briefing einer Challenge ansehen
  * Ideen zu einer Challenge sehen
  * Eine Idee ansehen

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Challenge Funktionen: (Backend)

  * Challenge erstellen
  * Challenge editieren
  * Phasen starten/beenden
  * Challenge löschen

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Challenge Funktionen: Eine Challenge

  * Beschreibung
  * Fotos
  * Anhänge
  * Preisgeld
  * Laufzeit
  * Phase
  * Anzahl Ideen
  * --> Ideen
  * Neue Idee einreichen

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Challenge Funktionen: Eine Idee

  * Beschreibung
  * Anhänge
  * --> Kommentare
  * Likes
  * Rankings

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Challenge Funktionen: Phasen

  * **Erstellt**
  * --> 4 Daten: Start challenge, Ende Brainstorming, Start Evaluation, Ende Challenge

  * **Brainstorming**
  * --> Ideen einreichen
  * --> Kommentare schreiben
  * --> Likes abgeben

  * **Evaluation**
  * --> Ratings abgeben

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Link-Tracking (Backend)

  * Short-URL generieren (Ziel, titel)
  * Übersicht logins/signups pro short-url

%section{"data-markdown" => ""}

  \### ZIEL-Stand der Plattform

  \#### CMS
  \#### User Funktionen
  \#### Challenge Funktionen
  \#### Link-Tracking
  \#### Whitelabel Funktionen

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### CMS

  _Die Content-Seiten der Plattform lassen sich live über ein einfaches Content Management System bearbeiten:_

  * Seite erstellen
  * Seite ändern: Text, Bilder, Karten, Videos, Icons
  * Seite löschen
  * Bearbeitung der Navigations- / Menüstruktur
  * Kontaktformulare
  * Konfigurierbares Design/Layout für die Startseite

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### User Funktionen

  * Registrieren per E-Mail / Facebook / Twitter / Google+
  * Login/Logout
  * Dashboard ansehen: User Score etc.
  * Meine Profilbesucher sehen
  * Public Profile (Punkte, teilgenommene Challenges, **gewonnene Challenges, Ideen, Kommentare**)
  * **Ambassador User: Kann Ideen und Kommentare direkt auf der Plattform verwalten**
  * **Client User: Kann im Backend für Challenges freigeschaltet werden**

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### User Funktionen (Backend)

  * Liste der User: **Sortieren / Filtern nach Rang, Score, Ideen, ...**
  * User editieren (Name, Email, ...)
  * **User löschen**
  * Rollen zuweisen

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### User Funktionen (Ideen für später)

  * Rechtesystem: Rollen definieren und aus einzelnen Rechten zusammensetzen
  * Rechte einzeln verteilen, alternativ Rollen als Shortcut zuweisen
  * User-Umfragen: Mehr Daten sammeln (Interessen etc.) um in Challenges User gezielt anzusprechen

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### Challenge Funktionen

  * Übersicht der Challenges anschauen
  * Briefing einer Challenge ansehen
  * Ideen zu einer Challenge sehen
  * Eine Idee ansehen
  * **Challenge Ideen-Übersicht filtern, sortieren und paginieren**
  * **Übersicht nur anzeigen, wenn mehr als eine Challenge existiert**
  * **Übersicht als Liste und als Kachelansicht**

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### Challenge Funktionen: (Backend)

  * Challenge erstellen
  * Challenge editieren
  * Challenge löschen
  * Phase starten/beenden **& Autostart der Phasen**
  * **Eine Auswertung exportieren: Anzahl Ideen, Kommentare, Teilnehmer, neue User**
  * **User-Auswertung für challenge: Altersverteilung, m/w, Punkte, ...**

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### Challenge Funktionen: Eine Challenge

  * Beschreibung
  * Fotos
  * Anhänge
  * Preisgeld
  * Laufzeit
  * Phase
  * Anzahl Ideen
  * --> Ideen
  * Neue Idee einreichen

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### Challenge Funktionen: Eine Idee

  * Beschreibung
  * Anhänge
  * --> Kommentare
  * Likes
  * Rankings

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Challenge Funktionen: Phasen

  * **Erstellt**
  * --> 4 Daten: Start challenge, Ende Brainstorming, Start Evaluation, Ende Challenge
  * --> **Ende Brainstorming == Start Evaluation**
  * --> **Automatischer Übergang der Phasen**

  * **Brainstorming**
  * --> Ideen einreichen
  * --> Kommentare schreiben
  * --> Likes abgeben

  * **Evaluation**
  * --> Ratings abgeben

%section{"data-markdown" => ""}

  \#### IST-Stand der Plattform
  \### Link-Tracking (Backend)

  * Short-URL generieren (Ziel, titel)
  * Übersicht logins/signups pro short-url

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### Whitelabel Funktionen

  Challenges werden durchgeführt auf

  * phantominds.com
  * kunde.phantominds.com ("simple whitelabel")
  * xyz.kunde.com ("external whitelabel")

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### "simple" Whitelabel Funktionen

  * Alle bestehenenden phantominds-user nehmen teil
  * Neue User existieren zunächst auf der whitelabel-Seite
  * Neue User werden später zur phantominds community zugefügt
  * Nur die whitelabel-challenge ist sichtbar
  * Direkter Einstieg in die challenge
  * Mails werden von xyz@phantominds.com gesendet

%section{"data-markdown" => ""}

  \#### ZIEL-Stand der Plattform
  \### "external" Whitelabel Funktionen

  \#### Alle Funktionen der "simple" Lösung, zusätzlich:

  * Keine synchronisation der User in irgendeine Richtung
  * Emails laufen über Kunden-Server
  * DNS Konfiguration muss beim Kunden passieren
  * Angepasstes Design/Layout der Startseite
