---
title: Verification and Validation Workshop @SICK
layout: slide
---

%section{"data-markdown" => ""}
  \## Verification and Validation Workshop
  %br
  \#### 19.10.16 / SICK AG
  %br
  [Nils Löwe](https://twitter.com/NilsLoewe)

%section{"data-markdown" => ""}
  \### Ziele des Workshops

  * Fragestellung klären
  * Prozesse / Agile Vorgehensweisen
  * TDD im Embedded Umfeld

%section{"data-markdown" => ""}
  \### Fragestellung klären

  * Wo steht das Projekt?
  * Wo waren in der Vergangenheit die Probleme?
  * Was ist das Ziel des Projekts?

%section{"data-markdown" => ""}

  \#### Prozesse
  \### Was bedeutet Prozess?

  Prozess (lat. procedere = vorwärts gehen) ist ein Verlauf, oder ganz allgemein ein System von Bewegungen.

%section{"data-markdown" => ""}
  \#### Definition: Verifizierung
  „Bestätigung durch einen objektiven Nachweis, dass Anforderungen erfüllt werden“

%section{"data-markdown" => ""}
  \#### Definition: Validierung
  „Bestätigung durch objektiven Nachweis, dass von den spezifizierten Nutzern im spezifizierten Nutzungskontext die spezifizierten Nutzungsziele (Zweckbestimmung) erreicht werden können“

%section{"data-markdown" => ""}

  \#### Prozesse
  \### V-Modell
  ![](/images/sick/V-Model-Resposibilities.png)

%section{"data-markdown" => ""}

  \#### Prozesse
  \### Normen und Zertifizierungen

  Im Wesentlichen verlangen die Normen, dass der Prozess definiert, dokumentiert und eingehalten wird.

%section{"data-markdown" => ""}

  \#### Prozesse
  \### Normen und Zertifizierungen

  * (Blackbox-) Testverfahren
  * Wie Tests spezifiziert, durchführt und dokumentiert werden
  * Wann die Tests durchführt werden (z.B. nächtlich oder vor dem Release)
  * Was die Akzeptanzkriterien sind (nicht jeder Bug muss notwendigerweise behoben werden)
  * Welche Werkzeuge zum Spezifizieren (z.B. Texteditor, Testdatengenerator), Durchführen (z.B. Testsoftware, Build-Management) und Dokumentieren einsetzt

%section{"data-markdown" => ""}

  ![](/images/sick/tdd-flowchart.png)

%section{"data-markdown" => ""}

  ![](/images/sick/tdd.png)
